@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  background-color: #f7f0e2;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.slide {
  position: relative;
  height: 80vh;
  flex: 1;
  margin: 10px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in;
}

.slide h3 {
  position: absolute;
  left: 30px;
  bottom: 20px;
  margin: 0;
  padding: 0 6px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.active {
  flex-grow: 10;
}

.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-out 0.4s;
}
